

.btn {
    border:none ;
    background:none;
  
    cursor: pointer; 
    display: flex;
  
    padding: 10px ;
  
  } 
   
  
 /*  .glow-orange,.glow-black {

    border-radius: 50%;
   
    box-shadow: 0 0 70px 70px rgba(167, 167, 167, 0) inset, 0 0 0 0 #444444;
    -webkit-transition: all 150ms ease-in;
    transition: all 150ms ease-in-out;
  } */


  .glow-orange:hover, .glow-black:hover  {
   transform: scale(1.5) rotate(8deg);
   transition: ease .3s;
  }

  .glow-orange:active ,.glow-black:active{
    opacity: 0.5;
  }


  
  